



<form action="/login">
    <button>УВІЙТИ</button>
</form>

<form action="/registry">
    <button>ЗАРЕЄСТРУВАТИСЯ</button>
</form>

<form action="/users">
    <button>БАЗА ЗАРЕЄСТРОВАНИХ КОРИСТУВАЧІВ</button>
</form>