<h1>LOGIN PAGE</h1>


<form action="/enter" method="post">

    <p><b>Ваше імя:</b><br>
    <p><b><input type="text" name="User name"></b><br>

    <p><b>Ваш пароль:</b><br>
    <p><b><input type="text" name="Password"></b><br>


    <p><b>
        <form action="/enter">
            <button>УВІЙТИ</button>
        </form>
    </b><br>


    <p><b>
        <form action="/">
            <button>НА ГОЛОВНУ СТОРІНКУ</button>
        </form>
    </b><br>
