<h1>REGISTRATION</h1>


<form action="/registry" method="post">
    <p><b>Ваше імя:</b><br>
    <p><b><input type="text" name="User name"></b><br>
    <p><b>Ваш пароль:</b><br>
    <p><b><input type="password" name="Password"></b><br>
    <p><b><input type="submit" value="REGISTER"></b><br>
</form>

<form action="/">
    <button>НА ГОЛОВНУ СТОРІНКУ</button>
</form>


